@font-face {
  font-family: "Doto-Regular";
  src: url(/fonts/Doto_Rounded-Regular.ttf);
}

body {
  font-family: "Doto-Regular", monospace;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
